








.h2{
  font-size:15px;
  line-height:1.4rem;
   font-family:Arial,Helvetica,Helvetica,sans-serif;
  font-weight:400;
   position:relative;

  left:60px;
  } 






/*  bloc2*/
.ant-list-item-meta-title > a:hover {
  color: none; 
}


.ant-card {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 22px;
  padding-left: 50px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  -webkit-font-feature-settings: 'tnum';
  font-feature-settings: 'tnum';
  position: relative;
  background: #fff;
  border-radius: 2px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}














.ant-btn-primary {
  position: absolute;
  color: #fff;
  background-color: #1890ff;
  border-color: #1890ff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  left: 1230px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}










.ant-list-item-meta-title > a {
  color: rgba(0, 0, 0, 0.65);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: 1410px;
}
body{


background-image:url("img/bg.jpg") ;

}
.ant-list-items {
  background-color: white;



}


ant-typography{


  background-color: white ;
}
.ant-list-item-action{

padding-right: 30px;
}

.demo-loadmore-list {
  min-height: 350px;
  

}

.p{


  padding:30px ;
}

.ant-btn-primary {
background-color:#181733 ;
border-color:linear-gradient(90deg,#154284 0,#cd122d);
}

img{
  width:50px ;
}



a span:nth-child(2)  {

  color:black; 
  padding-left: 20px;
}

a span:nth-child(3) {

    color:green; 
    padding-left: 70px;
  }

a span:nth-child(4)  {
  padding-left: 130px;
  color:black ;
  
  
}
a span:nth-child(5)  {
  padding-left: 33px;
  color:black ;
  
  
}
a span:nth-child(6)  {
  padding-left: 55px;
color:black ;
  
  
}
a span:nth-child(7)  {
  padding-left: 70px;
  color:black ;
  
  
}

a span:nth-child(8)  {
  padding-left: 30px;
  color:black ;
  
  
}



a span:nth-child(9)  {
  padding-left: 30px;
  color:black ;
  
  
}


a span:nth-child(10)  {
  padding-left: 30px;
  color:black ;
  
  
}


a span:nth-child(11)  {
  padding-left: 30px;
  color:black ;
  
  
}



a span:nth-child(12)  {
  padding-left: 30px;
  color:black ;
  
  
}


a span:nth-child(13)  {
  padding-left: 30px;
 color:black ;
  
}


a span:nth-child(14)  {
  padding-left: 300px;
 color:black ;
  
}
.ant-divider, .ant-divider-vertical {
  height:40px ;

}


.carre1 {
  height: 30px;
  width: 30px;
  background:linear-gradient(180deg,#2c4481 0,#181733) ;
  padding:5px;
  z-index: -1;

}

.carre {
  height: 30px;
  width: 30px;
  background:linear-gradient(180deg,#2c4481 0,#181733) ;
  padding:5px;

}

h1.ant-typography, .ant-typography h1 {
  margin-bottom: 0.5em;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 600;
  font-size: 25px;
  line-height: 1.23;
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif!important;
  position: relative;
  left: 25px;
  top: 15px;
}

h1  {

padding-bottom: 25px;
color:#181733 ;
}
.branding-bar {
  width: 100%;
  height: .8rem;

  background: linear-gradient(90deg,#154284 0,#cd122d);
}


.p {
  color: rgba(0, 0, 0, 0.85);
  font-weight: 600;
  font-size: 25px;
  line-height: 1.23;
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif!important;
  margin-bottom: -55px;
  background-color: white;
}



.cc{
color: green;

}



.ant-list-item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 30px 0; }

  .ant-list-items {
    padding-left: 30px;
    margin: 0;
    list-style: none;
}


.ccc {
  background-color: white;
  padding: -55px;
  margin-bottom: -62px;
  border-radius: 15px 15px 0px 0px ;
}


.test{


  position: relative;

top:20px


}



element.style {
  text-align: center;

  height: 32px;
  line-height: 32px;
  background-color: white;
  border-radius: 33px;
}


.demo-loadmore-list {
  min-height: 350px;
  background-color: white;
  padding-bottom: 15px;
  border-radius: 0px 0px 15px 15px ;

}

/* end bloc2 */